@font-face {
  font-family: "graphik";
  src: url("../assets/fonts/Graphik-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "graphik";
  src: url("../assets/fonts/Graphik-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "space";
  src: url("../assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "graphik", helvetica;
  font-size: 15px;
  color: #000;
  font-style: normal;
  text-align: left;
  line-height: 1;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: "space", "Courier New", monospace;
}

/* reset */
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
