/* vars */
$root: "../assets/";
$dark: #2a3147;
$light: #90949f;
$blue: #4069fe;
$light-border: #e5e5e5;

.app {
  display: grid;
  grid-template-columns: minmax(0, 190px) 1fr;
  grid-template-rows: 55px 1fr 20px;
  grid-template-areas:
    "header header"
    "sidebar body"
    "footer footer";
  height: 100vh;
}

.app-header {
  position: fixed;
  z-index: 1;
  background-color: #fff;
  height: 55px;
  width: 100%;
  box-shadow: 0px 1px 0px 0px $light-border;
  display: flex;
  grid-area: header;
}

.app-footer {
  background-color: #fff;
  box-shadow: 0px -1px 0px 0px $light-border;
  display: flex;
  grid-area: footer;
}

.app-body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  grid-area: body;
}

.app-sidebar {
  position: relative;
  grid-area: sidebar;

  .inside {
    position: sticky;
    top: 55px;
    height: 300px;
    padding: 30px 0 30px 30px;
  }

  .sidebar-head {
    position: relative;
    h3 {
      font-size: 22px;
      font-weight: normal;
      line-height: 32px;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
    }
    input[type="text"] {
      border: 1px solid $light-border;
      height: 32px;
    }
  }
  ul {
    margin: 25px 0;
  }
  ul li {
    margin-bottom: 15px;
    color: $light;
    &.selected {
      color: $blue;
    }
  }
}

/* header */
.logo {
  display: block;
  width: 41px;
  height: 41px;
  background: url($root+"flamer-logo.svg");
  background-size: cover;
  margin: 7px 0 7px 20px;
  text-indent: 100px;
  overflow: hidden;
}

.app-header {
  ul li {
    list-style: none;
    display: inline-block;
    margin: 0 7px;
  }
}

/* body */

/* */
select {
  background: #fff;
  border: none;
  font-family: "space";
  font-size: 13px;
  height: 26px;
  margin: 6px;
  border-radius: 2px;
}

input[type="text"] {
  background: #fff;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  transition: padding 0.2s ease;
}

input[type="text"]:focus {
  padding-left: 5px;
  background: #f0f0f0 !important;
}

button {
  background: transparent;
}
button:hover {
  cursor: pointer;
}
button i {
  vertical-align: middle;
}

.accordion {
  border: 1px solid $light-border;
  border-radius: 3px;
  &.collapse .accordion-body {
    display: none;
  }
  &.collapse .accordion-head {
    border: none;
  }
}
.accordion-head {
  height: 40px;
  border-bottom: 1px solid $light-border;
  display: grid;
  grid-template-columns: 1fr 100px;
  padding: 0 15px;
  > h4 {
    line-height: 40px;
    font-weight: normal;
  }
  > button {
    font-size: 13px;
  }
}
.accordion-body {
  padding: 25px 20px;
}

.design-item {
  display: flex;
  margin: 12px 0;
  box-sizing: border-box;
  height: 38px;
  &:hover {
    > div {
      border-color: rgba(64, 105, 254, 0.4);
      box-shadow: 0px 0px 5px rgba(64, 105, 254, 0.2);
    }
    input[type="text"] {
      background: #f8f8f8;
    }
    select {
      background: #f0f0f0;
    }
  }
  input[type="text"] {
    margin: 6px 0;
  }
  > span {
    z-index: -1;
  }
  > div {
    display: inline-block;
    border: 1px solid $light-border;
    height: 100%;
    background: #fff;
    border-radius: 2px;
    display: grid;
    line-height: 36px;
    padding-left: 10px;
    font-size: 15px;
    grid-template-columns: 1fr 120px 32px 32px;
  }
  &.root {
    > div {
      grid-template-columns: 1fr 32px 32px;
    }
    input[type="text"] {
      font-weight: bold;
    }
  }
}

.tree {
  display: inline-block;
  width: 38px;
  height: 38px;
  position: relative;
  &:after,
  &:before {
    display: block;
    content: "";
    position: absolute;
    background: $light-border;
  }
  &:after {
    width: 1px;
    height: 150%;
    left: 10px;
    top: -100%;
  }
  &.branch-0 {
    width: 30px;
  }
  &.branch-0:before {
    width: 100%;
    height: 1px;
    left: 10px;
    top: 50%;
  }
  &.branch-0:after {
    top: -100%;
  }
}

.inner-right {
  text-align: right;
}

/* icons */
.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../assets/icons.svg);
  background-repeat: no-repeat;
  background-size: 800% auto;
  &:hover {
    background-image: url(../assets/icons-hover.svg);
  }
  &.carrot {
    background-position: 0 0;
  }
  &.drag {
    background-position: -32px 0;
  }
  &.plus-circle {
    background-position: -64px 0;
  }
  &.plus-box {
    background-position: -96px 0;
  }
  &.dotted-arrow {
    background-position: -128px 0;
  }
  &.minus-circle {
    background-position: -160px 0;
  }
  &.search {
    background-position: -192px 0;
  }
  &.ellipses {
    background-position: -224px 0;
  }
  &.dash {
    background-position: 0 -32px;
  }
  &.menu {
    background-position: -32px -32px;
  }
  &.down {
    background-position: -64px -32px;
  }
  &.copy {
    background-position: -96px -32px;
  }
  &.close {
    background-position: -128px -32px;
  }
}
